<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Oswald">

<div class="heading">
  <h1>1830 помощник</h1>
</div>


<div class="content">
  <div class="state-pane">
    <div>
      <div class="shares pallete">


        <div class="pallete__heading">
          <h2>Распределение акций</h2>
        </div>
        <table>
          <tr>
            <td>Игрок</td>
            <td class="bg-boston">Бостон</td>
            <td class="bg-baltimor">Балтимор</td>
            <td class="bg-red">Красная</td>
            <td class="bg-yellow">Желтая</td>
            <td class="bg-blue">Голубая</td>
            <td class="bg-green">Зеленая</td>
            <td class="bg-newYork">Нью-йорк</td>
            <td class="bg-orange">Оранжевая</td>
          </tr>

          <tr *ngFor="let player of gameStateService.players">
            <td class="shares__player-name">{{player.name}}</td>
            <td><input [(ngModel)]="player.shares[COMPANIES.BOSTON]" type="number"></td>
            <td><input [(ngModel)]="player.shares[COMPANIES.BALTIMOR]" type="number"></td>
            <td><input [(ngModel)]="player.shares[COMPANIES.RED]" type="number"></td>
            <td><input [(ngModel)]="player.shares[COMPANIES.YELLOW]" type="number"></td>
            <td><input [(ngModel)]="player.shares[COMPANIES.BLUE]" type="number"></td>
            <td><input [(ngModel)]="player.shares[COMPANIES.GREEN]" type="number"></td>
            <td><input [(ngModel)]="player.shares[COMPANIES.NEW_YORK]" type="number"></td>
            <td><input [(ngModel)]="player.shares[COMPANIES.ORANGE]" type="number"></td>
          </tr>

          <tr>
            <td class="shares__player-name">Банк</td>
            <td><input [(ngModel)]="gameStateService.bankPoolShares[COMPANIES.BOSTON]" type="number"></td>
            <td><input [(ngModel)]="gameStateService.bankPoolShares[COMPANIES.BALTIMOR]" type="number"></td>
            <td><input [(ngModel)]="gameStateService.bankPoolShares[COMPANIES.RED]" type="number"></td>
            <td><input [(ngModel)]="gameStateService.bankPoolShares[COMPANIES.YELLOW]" type="number"></td>
            <td><input [(ngModel)]="gameStateService.bankPoolShares[COMPANIES.BLUE]" type="number"></td>
            <td><input [(ngModel)]="gameStateService.bankPoolShares[COMPANIES.GREEN]" type="number"></td>
            <td><input [(ngModel)]="gameStateService.bankPoolShares[COMPANIES.NEW_YORK]" type="number"></td>
            <td><input [(ngModel)]="gameStateService.bankPoolShares[COMPANIES.ORANGE]" type="number"></td>
          </tr>
        </table>
      </div>
      <br>
      <br>

      <div class="pallete">
        <div class="pallete__heading">
          <h2>Выплата дивидендов</h2>
        </div>

        <div class="form-field">
          <label>Выберите компанию:</label>
          <br>
          <select [(ngModel)]="calculateCompany">
            <option class="o__bg-boston" [value]="COMPANIES.BOSTON">Бостон</option>
            <option class="o__bg-baltimor" [value]="COMPANIES.BALTIMOR">Балтимор</option>
            <option class="o__bg-red" [value]="COMPANIES.RED">Красная</option>
            <option class="o__bg-yellow" [value]="COMPANIES.YELLOW">Желтая</option>
            <option class="o__bg-blue" [value]="COMPANIES.BLUE">Голубая</option>
            <option class="o__bg-green" [value]="COMPANIES.GREEN">Зеленая</option>
            <option class="o__bg-newYork" [value]="COMPANIES.NEW_YORK">Нью-йорк</option>
            <option class="o__bg-orange" [value]="COMPANIES.ORANGE">Оранжевая</option>
          </select>
        </div>

        <div class="form-field">
          <label for="revenuePerShare">Доход с одной акции:</label>
          <br>
          <input
            [(ngModel)]="revenuePerShare"
            id="revenuePerShare"
            placeholder="Введите сумму за акцию" type="number"/>

        </div>
        <button type="button" (click)="calculateRevenues(calculateCompany, revenuePerShare)">Рассчитать дивиденды</button>
        <button type="button" (click)="calculateRevenues(calculateCompany, revenuePerShare, true)">Рассчитать сохранение дохода</button>

        <ng-container *ngIf="isApplyReadyMode">
          <ul >
            <ng-container *ngFor="let revenueInfo of result.playersRevenue">
              <li *ngIf="revenueInfo[1]"><b>{{revenueInfo[0].name}}</b>: {{revenueInfo[1]}}</li>
            </ng-container>
            <li><b>В компанию:</b> {{result.companyRevenue}}</li>
          </ul>

          <button type="button" (click)="applyRevenue()">Выплатить</button>
        </ng-container>

      </div>
    </div>

    <div class="pallete money-pane">
      <div class="pallete__heading">
        <h2>Деньги</h2>
      </div>
      <div>
        <div
          class="players_player-state bank"
        >
          <span class="players_player-state-name">Банк</span>
          <span class="players_player-state-money">{{gameStateService.bankPool}}</span>
        </div>
        <div class="players">
          <ng-container *ngFor="let player of gameStateService.players">
            <hr>
            <div
              class="players_player-state"
            >
              <span class="players_player-state-name">{{player.name}}</span>
              <span class="players_player-state-money">{{player.money}}</span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

  </div>

</div>
