<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Oswald">

<div class="heading">
  <h1>1830 помощник</h1>

  <mat-icon class="active-btn" (click)="resetGame()">refresh</mat-icon>
</div>


<div class="content">
  <div class="state-pane">
    <div>
      <div class="shares pallete">


        <div class="pallete__heading">
          <h2>Распределение акций</h2>
        </div>
        <table>
          <tr>
            <td class="col-name">Игрок</td>
            <td class="col-name bg-boston">Boston</td>
            <td class="col-name bg-baltimor">Baltimor</td>
            <td class="col-name bg-red">Canadian Pacific</td>
            <td class="col-name bg-yellow">Erie</td>
            <td class="col-name bg-blue">Chesapeake</td>
            <td class="col-name bg-green">Pennsylvania</td>
            <td class="col-name bg-newYork">NY Central</td>
            <td class="col-name bg-orange">NY New Haven</td>
          </tr>

          <tr *ngFor="let player of gameStateService.players">
            <td class="shares__player-name">{{player.name}}</td>
            <td>
              <input [(ngModel)]="player.shares[COMPANIES.BOSTON]" type="number">
              <span class="mobile-heading bg-boston"></span>
            </td>
            <td>
              <input [(ngModel)]="player.shares[COMPANIES.BALTIMOR]" type="number">
              <span class="mobile-heading bg-baltimor"></span>
            </td>
            <td>
              <input [(ngModel)]="player.shares[COMPANIES.CANADIAN]" type="number">
              <span class="mobile-heading bg-red"></span>
            </td>
            <td>
              <input [(ngModel)]="player.shares[COMPANIES.ERIE]" type="number">
              <span class="mobile-heading bg-yellow"></span>
            </td>
            <td>
              <input [(ngModel)]="player.shares[COMPANIES.CHESAPEAKE]" type="number">
              <span class="mobile-heading bg-blue"></span>
            </td>
            <td>
              <input [(ngModel)]="player.shares[COMPANIES.PENNSYLVANIA]" type="number">
              <span class="mobile-heading bg-green"></span>
            </td>
            <td>
              <input [(ngModel)]="player.shares[COMPANIES.NEW_YORK_CENTRAL]" type="number">
              <span class="mobile-heading bg-newYork"></span>
            </td>
            <td>
              <input [(ngModel)]="player.shares[COMPANIES.NEW_YORK_NEW_HAVEN]" type="number">
              <span class="mobile-heading bg-orange"></span>
            </td>
          </tr>

          <tr>
            <td class="shares__player-name">Банк</td>
            <td>
              <input [(ngModel)]="gameStateService.bankPoolShares[COMPANIES.BOSTON]" type="number">
              <span class="mobile-heading bg-boston"></span>
            </td>
            <td>
              <input [(ngModel)]="gameStateService.bankPoolShares[COMPANIES.BALTIMOR]" type="number">
              <span class="mobile-heading bg-baltimor"></span>
            </td>
            <td>
              <input [(ngModel)]="gameStateService.bankPoolShares[COMPANIES.CANADIAN]" type="number">
              <span class="mobile-heading bg-red"></span>
            </td>
            <td>
              <input [(ngModel)]="gameStateService.bankPoolShares[COMPANIES.ERIE]" type="number">
              <span class="mobile-heading bg-yellow"></span>
            </td>
            <td>
              <input [(ngModel)]="gameStateService.bankPoolShares[COMPANIES.CHESAPEAKE]" type="number">
              <span class="mobile-heading bg-blue"></span>
            </td>
            <td>
              <input [(ngModel)]="gameStateService.bankPoolShares[COMPANIES.PENNSYLVANIA]" type="number">
              <span class="mobile-heading bg-green"></span>
            </td>
            <td>
              <input [(ngModel)]="gameStateService.bankPoolShares[COMPANIES.NEW_YORK_CENTRAL]" type="number">
              <span class="mobile-heading bg-newYork"></span>
            </td>
            <td>
              <input [(ngModel)]="gameStateService.bankPoolShares[COMPANIES.NEW_YORK_NEW_HAVEN]" type="number">
              <span class="mobile-heading bg-orange"></span>
            </td>
          </tr>
        </table>
      </div>

      <div class="pallete revenueCalculator">
        <div class="pallete__heading">
          <h2>Выплата дивидендов</h2>
        </div>

        <div class="form-field">
          <label>Выберите компанию:</label>
          <br>
          <select
            [ngClass]="selectedValueColor"
            [(ngModel)]="calculateCompany">
            <option class="o__bg-boston" [ngValue]="COMPANIES.BOSTON">Boston</option>
            <option class="o__bg-baltimor" [ngValue]="COMPANIES.BALTIMOR">Baltimor</option>
            <option class="o__bg-red" [ngValue]="COMPANIES.CANADIAN">Canadian Pacific</option>
            <option class="o__bg-yellow" [ngValue]="COMPANIES.ERIE">Erie</option>
            <option class="o__bg-blue" [ngValue]="COMPANIES.CHESAPEAKE">Chesapeake</option>
            <option class="o__bg-green" [ngValue]="COMPANIES.PENNSYLVANIA">Pennsylvania</option>
            <option class="o__bg-newYork" [ngValue]="COMPANIES.NEW_YORK_CENTRAL">NY Central</option>
            <option class="o__bg-orange" [ngValue]="COMPANIES.NEW_YORK_NEW_HAVEN">NY New Haven</option>
          </select>
        </div>

        <div class="form-field">
          <label for="revenuePerShare">Доход с одной акции:</label>
          <br>
          <input
            [(ngModel)]="revenuePerShare"
            id="revenuePerShare"
            placeholder="Введите сумму за акцию" type="number"/>

        </div>
        <button type="button" (click)="calculateRevenues(calculateCompany, revenuePerShare)">Дивиденды</button>
        <button type="button" (click)="calculateRevenues(calculateCompany, revenuePerShare, true)">В компанию!</button>

        <ng-container *ngIf="isApplyReadyMode">
          <ul >
            <ng-container *ngFor="let revenueInfo of result.playersRevenue">
              <li *ngIf="revenueInfo[1]"><b>{{revenueInfo[0].name}}</b>: {{revenueInfo[1]}}</li>
            </ng-container>
            <li><b>В компанию:</b> {{result.companyRevenue}}</li>
          </ul>

          <button type="button" (click)="applyRevenue()">Выплатить</button>
        </ng-container>

      </div>
    </div>

    <div class="pallete money-pane">
      <div class="pallete__heading">
        <h2>Деньги</h2> <mat-icon (click)="openEditMoney()" class="active-btn">edit</mat-icon>
      </div>
      <div>
        <div
          class="players_player-state bank"
        >
          <span class="players_player-state-name">Банк</span>
          <span class="players_player-state-money">{{gameStateService.bankPool}}</span>
        </div>
        <div class="players">
          <ng-container *ngFor="let player of gameStateService.players">
            <hr>
            <div
              class="players_player-state"
            >
              <span class="players_player-state-name">{{player.name}}</span>
              <span class="players_player-state-money">{{player.money}}</span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

  </div>

</div>
